@font-face {
    font-family: Spartan;
    src: url(../polices/Spartan/Spartan-VariableFont_wght.ttf),
    url(../polices/Spartan/static/Spartan-Medium.ttf),
    url(../polices/Spartan/static/Spartan-SemiBold.ttf),
    url(../polices/Spartan/static/Spartan-Bold.ttf);
}


/* --------- GENERAL ---------- */

body
{
    position: relative;

    font-family: 'Spartan';
}





/* ----------- HEADER ------------ */

header>.header-responsive, header>#opacityMenuBurger
{
    display: none;
}

header>.header-desktop
{
    display: flex;
    justify-content: space-between;

    margin-top: 60px;
    margin-left: 60px;

    width: 365px;

    position: absolute;
    top: 0;

    z-index: 2;
}

header>.header-desktop>.logo
{
    display: flex;
    align-items: center;
}

header>.header-desktop>.logo>img
{
    height: 12px;
}

header .header-desktop>.navbar
{
    width: 245px;
}

header .header-desktop>.navbar>ul
{
    display: flex;
    justify-content: space-between;
}

header .header-desktop>.navbar>ul>li>a
{
    font-size: 12px;
    font-weight: 500;

    text-decoration: none;

    color: white;

    display: flex;
    align-items: center;
}







/* ----------- MAIN ----------- */

main>.container-top
{
    display: flex;
}

main>.container-top .containerSlider
{
    height: 534px;
    width: 840px;

    position: relative;
}

main>.container-top .containerSlider>.containerBtnSlider
{
    display: flex;

    height: 80px;
    width: 160px;

    position: absolute;
    bottom: 0;
    right: -160px;
}

main .container-top .containerSlider>.containerBtnSlider>div
{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

main .container-top .containerSlider>.containerBtnSlider>div>img
{
    height: 20px;
}

main .container-top .description
{
    margin-top: 100px;
    margin-left: 100px;

    width: 100%;
}

main .container-top .description>h2
{
    font-size: 32px;
    font-weight: 600;

    width: 390px;

    line-height: 40px;

    margin-bottom: 30px;
}

main .container-top .description>p
{
    font-size: 12px;

    color: hsl(0, 0%, 63%);

    width: 410px;

    line-height: 20px;

    margin-bottom: 30px;
}

main .container-top .description .btnShop>a
{
    text-decoration: none;

    text-transform: uppercase;

    color: hsl(0, 0%, 27%);

    font-family: 'Spartan';
    font-size: 12px;
    font-weight: 500;

    letter-spacing: 10px;

    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    
    padding-right: 75px;
}





/* ----------- CONTAINER BOTTOM -------------  */

main .container-bottom
{
    display: flex;
}

main .container-bottom>.description
{
    max-width: 580px;

    margin-right: 35px;
    margin-left: 45px;
    margin-top: 70px;
}

main .container-bottom>.description>h2
{
    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;

    letter-spacing: 5px;

    margin-bottom: 20px;
}

main .container-bottom>.description>p
{
    width: 500px;

    font-size: 12px;

    color: hsl(0, 0%, 63%);

    line-height: 20px;
}










/* ------------ MEDIA QUERIES -------------- */

@media screen AND (max-width: 480px){

    /* --------> GENERAL */

    body
    {
        min-width: 350px;
    }

    /* ---------> HEADER */

    header
    {
        position: relative;
    }

    header>.header-desktop
    {
        display: none;
    }

    header .header-responsive
    {
        display: block;

        padding: 40px 0;

        background: linear-gradient(#000000b5, #0000);

        position: absolute;
        top: 0;

        width: 100%;

        z-index: 3;
    }

    header .header-responsive>#btn-menu-responsive
    {
        padding-left: 23px;

        background-image: url(../images/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70px;
    }

    header .header-responsive>#btn-menu-responsive>img
    {
        height: 17px;
    }

    /* ---> MENU BURGER */

    header .header-responsive>#menu-responsive
    {
        display: none;
        justify-content: space-between;
        align-items: center;

        height: 110px;
        width: 100%;

        background-color: white;

        position: absolute;
        top: 0px;

        opacity: 0;

        z-index: 3;

        transition: opacity 800ms;
    }

    header .header-responsive>#menu-responsive>img
    {
        margin-left: 25px;
        margin-right: 65px;
    }

    header .header-responsive>#menu-responsive>ul
    {
        width: 100%;

        display: flex;
        justify-content: space-between;

        margin-right: 22px;
    }

    header .header-responsive>#menu-responsive>ul>li>a
    {
        color: hsl(0, 0%, 27%);

        text-decoration: none;

        font-size: 12px;
        font-family: 'Spartan';
        font-weight:600;
    }

    header #opacityMenuBurger
    {
        display: block;

        background-color: none;

        transition: background-color 500ms;

        position: absolute;
        top: 0;

        width: 100%;

        z-index: 2;
    }









    /* ---------> MAIN */


    /* -> SLIDER  */

    main>.container-top
    {
        display: block;
    }

    main .container-top>.containerSlider
    {
        position: relative;

        height: 100%;
        width: 100%;
    }

    main .container-top .containerSlider>#imgSlider
    {
        width: 100%;
    }

    main .container-top .containerSlider>.containerBtnSlider
    {
        display: flex;

        height: 55px;
        width: 112px;

        position: absolute;
        bottom: 4px;
        right: 0;
    }

    main .container-top .containerSlider>.containerBtnSlider>div
    {
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: hsl(0, 0%, 27%);
    }

    main .container-top .containerSlider>.containerBtnSlider>div>img
    {
        height: 20px;
    }

    main>.container-top .description,main .container-bottom .description
    {
        margin-top: 72px;
        margin-left: 32px;

        width: auto;
    }

    main .container-top .description>h2,main .container-bottom .description>h2
    {
        font-size: 25px;
        font-family: 'Spartan';
        font-weight: bold;

        line-height: 30px;

        width: 300px;

        margin-bottom: 15px;
    }

    main>.container-top .description>p,main .container-bottom .description>p
    {
        font-size: 12px;
        font-family: 'Spartan';
        font-weight: 500;

        line-height: 20px;

        color: hsl(0, 0%, 63%);

        width: 350px;
    }

    main>.container-top .description>#descriptionText
    {
        height: 120px;
    }


    /* --------> BUTTON SHOP */

    main>.container-top .description>.btnShop
    {
        margin-top: 50px;
        margin-bottom: 75px;
    }

    main>.container-top .description>.btnShop>a
    {
        text-decoration: none;

        text-transform: uppercase;

        color: hsl(0, 0%, 27%);

        font-family: 'Spartan';
        font-size: 12px;
        font-weight: 500;

        letter-spacing: 10px;

        background-image: url(../images/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        
        padding-right: 75px;
    }

    /* -----> IMAGE MAIN */

    main .container-bottom
    {
        display: block;
    }

    main .container-bottom>.container-img, main .container-bottom>.container-img2
    {
        height: 265px;

        overflow: hidden;
    }

    main .container-bottom .container-img>img
    {
        width: 100%;
    }

    main .container-bottom .container-img2
    {
        height: 265px;
    }

    main .container-bottom .container-img2>#img-light
    {
        margin-top: 60px;

        width: 100%;
    }

}