@font-face {
    font-family: Spartan;
    src: url(../polices/Spartan/Spartan-VariableFont_wght.ttf),
    url(../polices/Spartan/static/Spartan-Medium.ttf),
    url(../polices/Spartan/static/Spartan-SemiBold.ttf),
    url(../polices/Spartan/static/Spartan-Bold.ttf);
}


/* --------- GENERAL ---------- */




/* ------------ MEDIA QUERIES -------------- */

@media screen AND (max-width: 480px){

    /* --------> GENERAL */

    body
    {
        min-width: 350px;
    }

    /* ---------> HEADER */

    header
    {
        position: relative;
    }

    header>.header-desktop
    {
        display: none;
    }

    header .header-responsive
    {
        padding: 40px 0;

        background: linear-gradient(#000000b5, #0000);

        position: absolute;
        top: 0;

        width: 100%;

        z-index: 3;
    }

    header .header-responsive>#btn-menu-responsive
    {
        padding-left: 23px;

        background-image: url(../images/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70px;
    }

    header .header-responsive>#btn-menu-responsive>img
    {
        height: 17px;
    }

    /* ---> MENU BURGER */

    header .header-responsive>#menu-responsive
    {
        display: none;
        justify-content: space-between;
        align-items: center;

        height: 110px;
        width: 100%;

        background-color: white;

        position: absolute;
        top: 0px;

        opacity: 0;

        z-index: 3;

        transition: opacity 800ms;
    }

    header .header-responsive>#menu-responsive>img
    {
        margin-left: 25px;
        margin-right: 65px;
    }

    header .header-responsive>#menu-responsive>ul
    {
        width: 100%;

        display: flex;
        justify-content: space-between;

        margin-right: 22px;
    }

    header .header-responsive>#menu-responsive>ul>li>a
    {
        color: hsl(0, 0%, 27%);

        text-decoration: none;

        font-size: 12px;
        font-family: 'Spartan';
        font-weight:600;
    }

    header #opacityMenuBurger
    {
        background-color: none;

        transition: background-color 500ms;

        position: absolute;
        top: 0;

        width: 100%;

        z-index: 2;
    }









    /* ---------> MAIN */


    /* -> SLIDER  */

    main .containerSlider
    {
        position: relative;
    }

    main .containerSlider>#imgSlider
    {
        width: 100%;
    }

    main .containerSlider>.containerBtnSlider
    {
        display: flex;

        height: 55px;
        width: 112px;

        position: absolute;
        bottom: 4px;
        right: 0;
    }

    main .containerSlider>.containerBtnSlider>div
    {
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: hsl(0, 0%, 27%);
    }

    main .containerSlider>.containerBtnSlider>div>img
    {
        height: 20px;
    }

    main>.description
    {
        margin-top: 72px;
        margin-left: 32px;
    }

    main .description>h2
    {
        font-size: 25px;
        font-family: 'Spartan';
        font-weight: bold;

        line-height: 30px;

        width: 300px;

        margin-bottom: 15px;
    }

    main>.description>p
    {
        font-size: 12px;
        font-family: 'Spartan';
        font-weight: 500;

        line-height: 20px;

        color: hsl(0, 0%, 63%);

        width: 350px;
    }


    /* --------> BUTTON SHOP */

    main>.btnShop
    {
        margin-top: 50px;
        margin-bottom: 75px;
    }

    main>.btnShop>a
    {
        text-decoration: none;

        text-transform: uppercase;

        color: hsl(0, 0%, 27%);

        font-family: 'Spartan';
        font-size: 12px;
        font-weight: 500;

        margin-left: 32px;

        letter-spacing: 10px;

        background-image: url(../images/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        
        padding-right: 75px;
    }

    /* -----> IMAGE MAIN */

    main .container-img
    {
        height: 265px;

        overflow: hidden;
    }

    main .container-img>img
    {
        width: 100%;
    }

    main .container-img>img#img-light
    {
        margin-top: 60px;
    }

}